/* Start Variables */
:root {
    --main-color: #2ed0cb;
    --secondary-color: #1a2940;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
/* End Variables */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* End Global Rules */
header {
    background-color: #19283f;
}
/* Start Components */
.special-heading {
    color: #ebeced;
    text-align: center;
    color: black;
    padding-top: var(--section-padding);
}
.special-heading .text {
    margin-top: 15px;
    position: relative;
}
.special-heading .text::after {
    content: "";
    position: absolute;
    top: 125%;
    left: 50%;
    height: 1px;
    width: 100px;
    transform: translate(-50%, 50%);
    background-color: #00c2bb;
}
.special-heading .text p {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 10px;
}
.bottom {
    background-color: #ff3150;
    color: #ffcc00;
    width: 200px;
    height: 50px;
    display: grid;
    place-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}
/* End Components */

/* start section 3 */
.sec-3 {
    background-color: #eff7fa;
    padding-bottom: 100px;
}
.sec-3 .container {
    margin: 0 auto;
}
.sec-3 ul {
    margin: 80px 0 40px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    padding: 0;
}

.sec-3 ul li {
    padding: 15px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    transition: 250ms;
}

.sec-3 ul li:hover,
.sec-3 ul li.active {
    background-color: #ff3150;
    color: #ffcc00;
    cursor : pointer
}



.sec-3 .container .cards img {
    /* height: 150px; */
    width: 100%;
}
.sec-3 .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}
.more {
    position: absolute;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
}
/* end section 3 */