.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: repeat(2 ,auto);
    gap: 10px 10px;
    align-content: space-between;
}
.grid div{
    background-color: #e91e63;
    text-align: center;
    color: white;
    font-weight: bold;
}