div{
    width: 400px;
    height: 400px;
    color: white;
    background-color: gainsboro;
}
.assign-4-shape-1{
    background-image: url(../images/css-assignment-5-8.png);
    background-repeat: no-repeat;
    background-size: 80%;
    
}
.assign-4-shape-2{
    background-image: url(../images/css-assignment-5-8.png);
    background-repeat: repeat-y;  
    background-position: right;
    background-size:80% ;
}
.assign-4-shape-3{
    background-image: url(../images/css-assignment-5-8.png);
    background-repeat: repeat-x; 
    background-position: bottom;
    background-size:80% ;

}
.assign-4-shape-4{
    background-image: url(../images/css-assignment-5-8.png);
    background-repeat: no-repeat;
    background-position-x:50% ;
    background-position-y:50% ;
    background-position: right bottom;

}
