.container{
    margin: 100px auto;
    padding: 50px;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #605e7e, #6b73c1, #34a9c1);
    color: #ecf0f1;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
}
.Mutex{
    padding: 30px;
}