.parent{
    width: 600px;  
    height: 300px; 
    margin: 10px auto;  
    padding: 10px;
    background-color: #eee;    
    display: flex;   
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: space-between;    
} 
.parent div{
    background-color: #ff5722;
    width: calc(95% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 40px;
}
